body {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    margin: 0px auto 0px auto;
    min-height: 1200px;
    background-color: #fff;
    /* background-color: #ffe2c3; */
    /* background-image: url("../images/fuji2.png"); */
    /* background-image: linear-gradient(to right, #fcfcee 10%, #ffd2b3 100%); */
    background-position: bottom center;
    background-repeat: no-repeat;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#header #navigation {
    text-align: right;
}

div#header#navigation a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

div#main_div {
    margin: auto;
    width: 100%;
    padding: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

div.carousel-inner {
    min-height: 500px;
}

h1 { font-size: 24px; }

h2 { font-size: 20px; }

h3 { font-size: 16px; }

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

.listing {
    border: grey 3px;
    background-color: rgba(221, 273, 223, 0.5);
    margin-top: 10px;
}

.navbar { 
          /* background-image: url("../images/sakura.jpg") ; */
          background-image: linear-gradient(to top, hsl(0, 0%, 100%) 10%, rgb(93, 240, 205));
          /* background-color: rgb(175, 240, 225); */
          min-height: 160px;
          background-position: center;
          background-repeat: no-repeat;}

.nav-item-text {
    color: #000;
    font-weight: bold;
}
.navbar-nav > li > a, .navbar-brand, .navbar-inner {
    border-radius: 5px;
    vertical-align: middle;
    flex: 1 1 auto;
    transition: 0.25s;
    background-size: 400% auto;
    background-image: linear-gradient(to right, #ffffffff 0%, #ffffffaa 25%, #ffffffaa 50%, #d3ffcfcc 66%, #96f4ffcc 100%);
}

.navbar-nav > li > a:hover {
    background-position: right center;
}

.navbar > .navbar-inner > .container > .nav  > li > a, #nav_container {
    color: black;
    background-color: #00000000;
}

.navbar > .navbar-inner > .container > .nav  > li > a:hover {
    background-color: #fff;
}

.navbar-toggler {
    background-color: rgba(250, 210, 130, 0.85);
}

table.table {
    border-collapse: separate;
    border-spacing: 0;
    background-color: rgba(250, 190, 90, 0.7);
    width: 100%;
    border: solid darkslategrey 3px;
}

table.table-bordered > thead > tr > th, table.table-bordered > tbody > tr > td {
    border: solid moccasin 1px;
}

th:first-child {
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    border-radius: 6px 0 0 0;
    border-left: none;
}

th:last-child {
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    border-radius: 0 6px 0 0;
}

th:only-child {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 6px 6px 0 0;
}

div#fb_like_share {
    margin-top: 10px;
}

div#carouselid {
    padding-bottom: 100px;
    background-color: rgba(71, 10, 10, 0.7);
    color: #e6f9f9;
}

@media only screen and (min-width: 1024px){
    div#main_div, div#nav_container {
        width: 85%;
    }
    div#main_div {
        padding: 25px;
    }
    .container {
        width: 95%;
    }
    h1 { font-size: 24px; }
    h2 { font-size: 20px; }
    h3 { font-size: 18px; }
    h4 { font-size: 14px; }
    h5 { font-size: 12px; }
}
@media only screen and (min-width: 1500px){
    div#main_div, div#nav_container {
        width: 75%;
    }
    div#main_div {
        padding: 50px;
    }
    .container {
        width: 95%;
    }
}

@media only screen and (max-width: 768px) {
    div#main_div {
        padding: 0px;
        padding-top: 20px;
        margin: 0px;
    }

    .container {
        padding: 0px;
    }

    .navbar-nav > li > a, .navbar-brand {
        padding-top: 2px; 
        padding-bottom: 5px;
        height: 40px;
    }

    .navbar {min-height: 30px;}

    h1 { font-size: 20px; }
    h2 { font-size: 18px; }
    h3 { font-size: 15px; }
    h4 { font-size: 12px; }
    h5 { font-size: 10px; }
    table { font-size: 10px; }
    body { font-size: 12px; }
}

.btn_underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.btn_underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #00c0b9;
    height: 7px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.btn_underline:hover:before, .btn_underline:focus:before, .btn_underline:active:before {
    left: 0;
    right: 0;
}
